@import 'mormalize';
@import 'vars';

body {
  font-family: $text;
 
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
ul,
li,
p {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: $title;
}
a {
  color: $title-color;
  text-decoration: none;
}
// .container {
//   max-width: 1280px;
//   margin: 0 auto;
// }
// .active {
  // color: green;
// }
