@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;900&display=swap');//colors

$main-color: #3c5280;
$sub-color: #272b33;
$title-color: #ebf0fa;


$header-input-color:#3A95FF;
$header-button-color:#FFAC28;
$text-color-grey: #424242;
$footer-color-grey: #F2F2F2;


//fonts
$title: 'Zen Kurenaido', sans-serif;
$text: 'Jost', sans-serif;


//vars
$title-size: 36px;
$text-size: 18px;
