@import './../../../assets/style/vars.scss';

.container {
    margin: 0 auto;
    margin-top: 41px;
    max-width: 364px;
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: white;
}

.footer {
    text-align: center;

    & > h1 {
        font-size: 18px;
    }

    & > p {
        font-size: 14px;
        color: $text-color-grey;
    }
}

.df {
    display: flex;
    margin-top: 14px;
    font-size: 12px;
    font-weight: 700;
}

.reg {
    width: 50%;
    text-align: center;
    padding-bottom: 7px;
    border-bottom: 1px solid $text-color-grey;
}

.reg p {
    color: black;
}

.auth {
    width: 50%;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 2px solid $active-color-blue;

    & > p {
        color: $active-color-blue;
    }
}

.p {
    color: $active-color-blue;
    margin-top: 8px;
    margin-bottom: 24px;
    margin-left: calc(100% - (364px - 251px));
    margin-right: 24px;
    font-size: 12px;
    line-height: 16px;
}

