@import '../../../assets/style/vars.scss';

.page_wrapper {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.conteiner {
  background-color: $background;

  & > main {
    margin: 0 auto;
    max-width: 1200px;
    padding-right: 10px;
    padding-left: 10px;
  }
}



