@import '../../../../assets/style/vars.scss';


.banner {
    display: flex;
    justify-content: space-between;

    & > img {
        object-fit: cover;
        max-height: 296px;
        width: auto;
        margin-top: 112px;
        padding-right: calc(100% - (1200px - 170px));
    }
}

.text {
    font-size: 24px;
    line-height: 56px;
    margin-top: 168px;
    margin-bottom: 168px;

    & > p {
        font-size: 16px;
        line-height: 24px;
        color: $text-color-grey;
        width: 344px;
    }

    & > h1 {
        margin-bottom: 40px;
    }
}

@media only screen and (max-device-width: 1200px){
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        margin-bottom: 40px;
        padding-left: 14px;
        padding-right: 14px;
        & > img {
            max-height: 224px;
            margin-top: 115px;
            // padding-left: calc(100% - (769px - 70px));
            // padding-right: 72px;
            // margin-right: calc(100% - (768px - 85px));
            // padding-right: calc(100% - (768px - 95px));
            // padding-right: calc(100% - (768px - 72px));
        }
    }

    .text {
        margin-top: 144px;
        margin-bottom: 40px;

        & > h1 {
            font-size: 36px;
            margin-bottom: 32px;
        }

        & > p {
            width: 341px;
        }
    }
}

@media only screen and (max-device-width: 768px){
    .banner {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        & > img {
            max-height: 140px;
            width: 145px;
            margin-top: 32px;
            padding: 0;
        }
    }

    .text {
        margin-top: 32px;
        margin-bottom: 32px;

        & > p {
            display: none;
        }

        & > h1 {
            font-size: 24px;
            line-height: 24px;
        }
    }
}